@using System.Text.Json
@using Settlements.Client.Utility

@if (IsResponseStatusSuccess == true)
{
    <div class="text-center text-success">
        <h5>Successfully created!</h5>
    </div>
}
else if (IsResponseStatusSuccess == false)
{
    <div class="text-center text-danger">
        <ul>
            @foreach (string error in Errors())
            {
                <li>@error</li>
            }
        </ul>
    </div>
}

@code {
    [Parameter]
    public string? ResponseJsonString { get; set; }

    [Parameter]
    public bool? IsResponseStatusSuccess { get; set; }

    private IEnumerable<string> Errors()
    {
        var httpResponseJsonParser = new ParseHttpResponseJsonString(ResponseJsonString);
        return httpResponseJsonParser.ToIEnumerableString();
    }
}
