<tr>
    <td class="text-end">Postal code</td>
    <td class="text-start">
        <ValidationMessage For="@(() => Settlement.PostalCode)" />
        <InputText @bind-Value="Settlement.PostalCode" />
    </td>
</tr>
